.modal-body {
    padding-right: 0px;
}

.modal-body .proj {
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    width: 185px;
    float: left;
}

.modal-body .proj:last-child{
    float: none;   
}

#tasks_list .headings a {
    color: #ecf0f1;
}

.bottomtext {
    padding-top: 10px;
} 

#tasks_list .project-icon {
    padding: 4px 1px 4px 9px;
    width: 86px; 
    vertical-align: inherit;
}

h2.vith-icon{ 
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 19px auto;
    padding-left: 25px;
} 

#tasks_list .small{
    float: left;
    margin-right: 10px;
} 
 
.red, .red_task, .red_task a{
    color: red;
}  

.bold{
    font-weight: bold;
}

.status_green{
    color: green;
    font-weight: bold;
}

.status_gray{
    color: #cdcdcd; 
}

#tasks_show {
    width: 190px;
}

#tasks_show2 {
    width: 180px;
}

.fgroup{
    height: 38px;
    float: left;
}

.pointer p {
   margin-bottom: 0px; 
}