.x_content {
    margin-bottom: 10px;
    padding-bottom: 16px;
}

.bootom_border { 
    border-bottom: 2px solid #e6e9ed;
}

.task_status p{
    margin: 0;
}

.task_status .date{
    color: #adabab; 
}

.comment{
    border-bottom: 1px dotted #e6e9ed;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.taskcontrol {
    padding-top: 15px;
}

.taskcontrol p{
    font-weight: bold;
}

.taskcontrol .btn{
     margin: 0px 0px 10px 0;
}
.taskcontrol .dropdown-menu{
    top: 40px; 
}

.taskcontrol .dropdown-menu::after{
    right: 28%;
}

.status .label {
   padding-top: 3px;
   margin-left: 5px;
   font-size: 100%;
}

.calcblock{
    padding-left: 0px;
}

.calcblock input[type=text] {
    width: 125px;
    padding-right: 1px;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}
.calcblock input[type=submit] { 
    float: left;
}

.commentcalc {
    float: right;
    min-height: 45px; 
    width: 190px;
    text-align: right;
    margin-left: 8px;
}
 
.commentcalc input[type=text] {
    width: 74px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
    float:left;
}
.commentcalc .btn-success {
    float:left;
}

.commnetcalcpanel{
    display: none;
}
 
.smallbtn {
    margin-top: 5px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.x_content{
    color: #3a4f64;
}

.comment_text{
    margin-top: 3px;
    margin-left: 62px;
    word-wrap: break-word;
}

.comment p{
    margin-bottom: 0px;
}

.comment .avatar {
    margin-right: 10px; 
    margin-bottom: 10px;
}

.edit_task_form {
    display: none;
} 

.taskrow > .col-md-9 {
    width: 72%;
}
.taskrow > .col-md-3 {
    width: 28%;
}

.trackingadd .col-md-3 {
    padding-right: 0;
}

.trackingadd .col-md-12 {
    text-align: right;
}

.trackingadd .col-md-12 .btn-success{
     margin-right: 0px;
     margin-top: 10px;  
}

.commentEditForm{
    padding-left: 60px; margin-top: 10px;
}

.commentcalc .label{
    margin-right: 5px;
} 

.status_cancel:hover{
        color: red;
    text-decoration: none;
}

.editable_hidden {
    display: none;
}

.editable_show {
   display: inline-block;
}

.editcalc {
    padding-left: 5px;
    width: 60px;
} 

.compose-btn{
    margin-top: 5px;
}

.add_files {
    display: none;
}

.editfilerow{
    margin-top: 10px;
}

.editfilerow p{
    margin-bottom: 4px;
}

.trackingrow {
    margin-bottom: 10px;
    word-wrap: break-word;
    padding-top: 5px; padding-bottom: 5px;
}
 
.trackingrow:nth-child(2n){
    background-color: #fafafa;
}