.modal-body .proj{
    margin-bottom: 4px;
    padding-bottom: 4px;
    font-size: 15px;
}

#tasks_list .headings a {
    color: #ecf0f1;
}

.bottomtext {
    padding-top: 10px;
} 

#tasks_list .project-icon {
    padding: 4px 1px 4px 9px;
    width: 86px; 
}

h2.vith-icon{ 
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 19px auto;
    padding-left: 25px;
} 

#tasks_list .small{
    float: left;
    margin-right: 10px;
}
 