.big-imgs .image img {
    min-width: 68px;
}

.msg_list a:hover {
    text-decoration: none;
}

.big-imgs .time {
    font-weight: normal!important; 
}

.big-imgs .notviewed { 
    font-weight: bold;
}

.with_image {
    padding-right: 70px!important;
    background-repeat: no-repeat; 
    background-position: 98% 28px;
} 